# Book 1

In [44]:
import pyspark

In [45]:
import pandas as pd

In [46]:
pd.read_csv('test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

### creating a spark session

In [47]:
from pyspark.sql import SparkSession

In [48]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [49]:
spark

reading csv to pysparkb

In [50]:
df_pyspark = spark.read.csv('test1.csv')

In [51]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

to get headers

In [52]:
spark.read.option('header', 'True').csv('test1.csv')

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [ ]:
spark.read.option('header', 'True').csv('test1.csv').show()

In [55]:
df_pyspark = spark.read.option('header', 'True').csv('test1.csv')

In [56]:
df_pyspark.head()

Row(Name='Krish', age='31', Experience='10', Salary='30000')

In [57]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)