In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

23/11/06 10:01:20 WARN Utils: Your hostname, Shyams-Mac-mini-2.local resolves to a loopback address: 127.0.0.1; using 192.168.0.100 instead (on interface en0)
23/11/06 10:01:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/06 10:01:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/06 10:01:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/11/06 10:01:22 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
df_pyspark = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

## Group By